body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 27px;
  font-weight: 400;
  color: black;
  background-color: #fff;
  min-width: 320px;
}

img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: #ee6e73;
  transition: all 0.5s;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #000;
}

::selection {
  background-color: #ee6e73;
  color: #fff;
}

/* Header top */
.header-top {
  background-color: #ee6e73;
  position: relative;
}
.header-top a {
  color: #fff;
}
.header-top a:hover {
  color: #000;
}

#search {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.2s;
  transform: scale(0);
  display: flex;
  background-color: #ee6e73;
  z-index: 1;
}
#search.active {
  transform: scale(1);
}

.form-control {
  border-radius: 0;
}

.icons a {
  padding: 10px;
}

.icons i,
.icon-phone {
  font-size: 18px;
}

.open-cart-modal {
  position: relative;
}

.count-items {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
}

.modal-header {
  background-color: #ee6e73;
  color: #fff;
}
.modal-body img {
  max-width: 100px;
}
.modal-body a {
  color: #ee6e73;
}

.btn {
  position: relative;
  overflow: hidden;
}

.btn:hover::before {
  animation: ripple 1s ease;
}
.btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  transform: scale(0);
}

@keyframes ripple {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    transform: scale(3);
    opacity: 0;
  }
}

li a.dropdown-item {
  color: #000;
}

li a.dropdown-item:focus,
li a.dropdown-item:hover {
  background-color: #ee6e73;
  color: #fff;
}

/* Header bottom */

.header-bottom .navbar-brand {
  color: #000;
  font-weight: 700;
}
.header-bottom .navbar-brand:hover {
  color: #ee6e73;
  font-weight: 700;
}
.header-bottom .navbar-nav .nav-link {
  color: #000;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
}
.header-bottom .navbar-nav .nav-link:hover {
  color: #ee6e73;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 0.1rem;
}

/* https://bootstrap-menu.com/detail-basic-hover.html */
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}
